/* Styling for map containeren */
#my_dataviz {
  margin: auto;
  display: block;
}

/* Formatering af overskrifter */
h1, h2 {
  text-align: center;
}

/* Formatering af body-elementer */
body {
  background-color: rgb(241, 222, 187)
}

/* Styling af download-dataset knappen */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
  
/* Styling af drop-down knappen */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styling af knappens drop-down indhold */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
  
/* Styling af links i dropdown knappen */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effekter for drop-down knappen */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Indholdet i linket skrives i linket i bunden */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling af lande-info kasse */
#country-info {
  border-radius: 10px;
}

  